<a href="https://colab.research.google.com/github/JagadeeshJD/BasicML/blob/main/My_First_collab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic ML

1.Program to print "Hello World!".

In [ ]:
print("Hello World!")

Hello World!

 2.Program to sum of First "n" natural numbers.

In [ ]:
n=int(input())
X=0
for i in range(1,n+1):
     X+=i
print("Sum of First",n,"Natural Numbers =",X)

100
Sum of First 100 Natural Numbers = 5050

2.Program to check whether a number is Even or Odd.

In [ ]:
n=int(input())
if n%2==0:
      print(n,"is Even Number")
else:
      print(n,"is Odd Number")

29
29 is Odd Number

3.Program to find Largest and Smallest numbers in a given list of elements.

In [ ]:
L=[int(x) for x in input().split()]
L.sort()
print(L[-1],"is the Largest Number in list L")
print(L[0],"is the Smallest Number in list L")

2 3 0 43 7 9
43 is the Largest Number in list L
0 is the Smallest Number in list L